@import '../../styles/constants.scss';

div.menu-wrapper {
  position: relative;

  button.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 11px;
    position: absolute;
    right: 0px;
    z-index: 1;

    &:focus {
      outline: none;
    }
    

    &:hover {
      opacity: 0.4;
    }

    i {
      color: $black;
    }
  }

  i.fas.fa-caret-up {
    position: absolute;
    right: 4px;
    top: 9px;
    color: rgba($gray, 0.4);
  }

  div.dropdown-content {
    position: absolute;
    right: -7%;
    top: 20px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 5px;
    border: 1px solid rgba($gray, 0.4);
    border-radius: 5px;
    z-index: 2;

    button:hover {
      cursor: pointer;
    }
  }
}