$primary-lighter: #BDEAF1;
$primary-light: #64CDDD;
$primary: #22B8CF;
$primary-dark: #19A8C3;
$primary-darker: #0C91B2;

$secondary-lighter: #BDD0F1;
$secondary-light: #6490DD;
$secondary: #2261CF;
$secondary-dark: #194FC3;
$secondary-darker: #0C33B2;

$accent-lighter: #BDF1DE;
$accent-light: #64DDB1;
$accent: #22CF90;
$accent-dark: #19C37D;
$accent-darker: #0CB261;

$black: #000000;
$white: #ffffff;
$gray: #8e8e8e;

$red-light: #FA6B57;
$red: #FF0000;
