@import '../../styles/constants.scss';

div.card {
  border-radius: 10px;
  border: 1px solid $black;
  display: flex;
  flex-direction: column;
  margin: 5px;
  max-width: 400px;
  overflow: hidden;
  padding: 5px;
  width: 100%;

  div.card-title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
  }

  div.card-body {
    padding: 5px;
  }

  span.completed-message {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
}

.completed {
  background-color: rgba($secondary-light, 0.3);

  > div {
    text-decoration: line-through;
  }
}