@import '../../styles/constants.scss';

div.card {
  background-color: $white;
  border-radius: 10px;
  border: 1px solid $black;
  box-shadow: 0 4px 8px 0 rgba($black, 0.2);
  display: flex;
  flex-direction: column;
  margin: 5px;
  max-width: 400px;
  padding: 5px;
  width: 85%;

  button.delete-button {
    background-color: $red-light;
    border-color: $red;
  }

  button.status-button {
    background-color: $primary;
    border-color: $primary-dark;
  }

  button.delete-button,
  button.status-button {
    font-size: 15px;
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px;
    color: $white;

    i {
      margin-right: 5px;
    }
  }

  button.delete-button:hover,
  button.status-button:hover {
    opacity: 0.5;
  }

  div.card-title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
  }

  div.card-body {
    padding: 5px;
  }

  span.completed-message {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    color: $gray;
    font-weight: bold;
    opacity: 0.5;
  }
}

div.card.completed {
  background-color: rgba($gray, 0.3);
  border-color: rgba($gray, 0.3);

  div.card-body,
  div.card-title {
    opacity: 0.5;
  }

  > div {
    text-decoration: line-through;
  }
}