@import '../../styles/constants.scss';

div.card {
  border-radius: 10px;
  border: 1px solid $black;
  display: flex;
  flex-direction: column;
  margin: 5px;
  max-width: 400px;
  overflow: hidden;
  padding: 5px;

  div.card-title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
  }

  div.card-body {
    padding: 5px;
  }
}