@import './styles/constants.scss';

.app {
  .modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .section {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin: 0 auto;
    
      input {
        font-size: 20px;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgba($gray, 0.5);
    
        &:focus {
          outline: none;
          border-bottom-color: $primary;
        }
      }

      textarea {
        font-size: 20px;
        width: 100%;
        border: 1px solid rgba($gray, 0.5);
        resize: none;

        &:focus {
          outline: none;
          border-color: $primary;
        }
      }

      .add {
        font-size: 16px;
        padding: 10px;
        border: 1px solid $primary-dark;
        border-radius: 5px;
        background-color: $primary;
        color: $white;

        &:disabled {
          background-color: $gray;
          border-color: $gray;
        }
        
        &:hover:not(:disabled) {
          cursor: pointer;
        }

        &:hover:disabled {
          cursor: not-allowed;
        }
      }
    }

    .color-section {
      display: flex;
      flex-direction: row;
      padding: 10px 0;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin: 0 auto;

      .task-color-label {
        font-size: 20px;
      }
    }
  }

  .add-button {
    border-radius: 50%;
    background-color: $accent-light;
    border-color: $accent-light;
    position: fixed;
    bottom: 20px;
    right: 40px;
    width: 60px;
    height: 60px;
    z-index: 1;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }

    &:focus {
      outline: none;
    }

    i {
      color: $white;
      font-size: 20px;
    }
  }
}